<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="products__admin">
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(result => result.path === 'title') ? 'invalid' : '' %>" 
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image URL</label>
                <input 
                    type="file"
                    name="image" 
                    id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    class="<%= validationErrors.find(result => result.path === 'price') ? 'invalid' : '' %>" 
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-select">
                    <option value="<%= editing || hasError ? product.category : ''  %>">Select Category</option>
                    <option value="sofa" <%= editing || hasError ? product.category === 'sofa' ? 'selected' : '' : '' %>>Sofa</option>
                    <option value="lamp" <%= editing || hasError ? product.category === 'lamp' ? 'selected' : '' : '' %>>Lamp</option>
                    <option value="cupboard" <%= editing || hasError ? product.category === 'cupboard' ? 'selected' : '' : '' %>>Cupboard</option>
                    <option value="chandelier" <%= editing || hasError ? product.category === 'chandelier' ? 'selected' : '' : '' %>>Chandelier</option>
                    <option value="wooden_chair" <%= editing || hasError ? product.category === 'wooden_chair' ? 'selected' : '' : '' %>>Wooden Chair</option>
                </select>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(result => result.path === 'description') ? 'invalid' : '' %>" 
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing || hasError) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>