<section class="pagination d-flex justify-content-center">
	<% if (currentPage !== 1 && previousPage !== 1) { %>
	<a href="?page=1<%= filter ? '&category=' + filter : '' %>">1</a>
	<% } %> <% if (hasPreviousPage) { %>
	<a href="?page=<%= previousPage %><%= filter ? '&category=' + filter : '' %>"><%= previousPage %></a>
	<% } %>
	<a href="?page=<%= currentPage %><%= filter ? '&category=' + filter : '' %>" class="active"><%= currentPage %></a>
	<% if (hasNextPage) { %>
	<a href="?page=<%= nextPage %><%= filter ? '&category=' + filter : '' %>"><%= nextPage %></a>
	<% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
	<a href="?page=<%= lastPage %><%= filter ? '&category=' + filter : '' %>"><%= lastPage %></a>
	<% } %>
</section>
